/* Base */
@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/typography.css");

/* Layout */
@import url("./layout/header.css");
@import url("./layout/navigation.css");
@import url("./layout/grid.css");
@import url("./layout/footer.css");
@import url("./layout/heroSection.css");
@import url("./layout/quiz.css");
@import url("./layout/noticias.css");
@import url("./layout/mapa.css");



/* Components */
@import url("./components/buttons.css");
@import url("./components/cards.css");

/* Pages */
@import url("./pages/home.css");
@import url("./pages/sobre.css");
